@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
/* line 4, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
a:link {
  text-decoration: none;
}

/* line 7, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
a {
  color: darkblue;
}

/* line 10, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  font-family: 'Trocchi', serif;
}

/* line 19, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
body {
  margin: 0;
}

/* line 23, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
#toolbar {
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  position: fixed;
  background-color: black;
  color: white;
}

/* line 33, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
#footline {
  bottom: 0;
  left: 10;
}

/* line 38, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
#free {
  float: left;
  padding: 15px;
}

/* line 43, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
.radcontrol {
  width: 30px;
  height: 30px;
  background-color: #3DBF83;
  display: inline-block;
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  cursor: pointer;
}

/* line 55, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
.radcontrol:active {
  background-color: #32473D;
}

/* line 59, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
.radcontrol:hover {
  background-color: #00FF88;
}

/* line 64, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
#rad {
  float: left;
  height: 50px;
  width: 200px;
  padding: 12px;
}

/* line 71, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
#radval {
  border: 1 solid white;
  padding: 6px;
}

/* line 76, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
#colors {
  float: right;
  padding: 10px;
  height: 50px;
}

/* line 82, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
.color {
  width: 75px;
  height: 30px;
  border-radius: 15px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  float: right;
  border: none;
}

/* line 94, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
.swatch {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-left: 10px;
  background-color: cyan;
}

/* line 106, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
#col {
  padding: 15px;
  height: 50px;
  float: left;
}

/* line 113, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
.buttonOnBoard {
  width: 56px;
  height: 30px;
  font-size: 14px;
  padding: 6px;
  margin-top: 10px;
  background-color: #d5d5d5;
  float: left;
  border-radius: 4px;
  text-align: center;
  margin-left: 5px;
  font-weight: bolder;
  cursor: pointer;
}

/* line 127, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
#save, #erase, #clear {
  width: 56px;
  height: 30px;
  font-size: 14px;
  padding: 6px;
  margin-top: 10px;
  background-color: #d5d5d5;
  float: left;
  border-radius: 4px;
  text-align: center;
  margin-left: 5px;
  font-weight: bolder;
  cursor: pointer;
}

/* line 142, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
#eraser {
  color: #9e370a;
}

/* line 145, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
#save {
  color: #028313;
}

/* line 148, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
#clear {
  color: #aa2222;
}

/* line 151, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
.buttonOnBoard:hover, #save:hover, #erase:hover, #clear:hover {
  background-color: white;
}

/* line 157, /home/gabe/workspace/rails/whiteboard_central/app/assets/stylesheets/boards.scss */
v_wrap {
  margin-top: 15px;
}
