<%= image_tag @board.imagepath.to_s + ".png", id:"image_to_canvas" %>
<!--<img src= '<#%= @board.title.to_s %>' id="image_to_canvas" sourcing='<#%= @board.title.to_s %>' >-->
<div id="divLoading"></div>
<div id="image_box">
<br>
<hr>
<h1> Use + and - To Adjust the Height and Width </h1>
<br><br>
<h1> Up and Down Arrow Keys: Adjust the Height </h1>
<h1> Left and Right Arrow Keys: Adjust the Width </h1>
<hr>
<br><br>
<hr>
<h1> Click To Place The Image </h1>
<hr>
</div>
<img src='' id='forUploads'>
<script>
var canvas = document.getElementById('canvas');
canvas.width = <%= @board.width %>
canvas.height = <%= @board.height %>
</script>
