<h1>Upload New Board</h1>

<%= form_for @board, html: {id: 'canvasform'} do |f| %>
  <div>
    <%= f.label :title %><br>
    <%= f.file_field :title, html: {id: 'canvascontent'} %>
  </div>
  <div>
    <button id="savecanvas"><%= f.submit %></button>
  </div>
<% end %>
