// Place all the styles related to the boards controller here.
// You can use Sass (SCSS) here: http://sass-lang.com/
a:link{
  text-decoration: none;
}
a{
  color:darkblue;
}
*{
    box-sizing: border-box;
      -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
            user-select:none;
              -webkit-user-select:none;
                -moz-user-select:none;
                  font-family: 'Trocchi', serif;
}
body
{
    margin:0;
    height:100%;
    overflow: hidden;
}
#toolbar
{
    width: 100%;
      height: 50px;
        top:0;
          left:0;
            position: fixed;
              background-color: black;
                color: white;
}
#footline
{
    bottom:0;
      left: 10;
}
#free
{
    float: left;
      padding: 15px;
}
.radcontrol
{
    width: 30px;
      height: 30px;
        background-color: #3DBF83;
          display: inline-block;
            text-align: center;
              padding: 5px;
                border-radius: 15px;
                cursor:pointer;

}
.radcontrol:active
{
    background-color: #32473D;
}
.radcontrol:hover
{
    background-color: #00FF88;
}

#rad
{
    float: left;
      height: 50px;
        width:200px;
          padding: 12px;
}
#radval
{
  border:1 solid white;
  padding:6px;
}
#colors
{
  float: right;
  padding: 10px;
  height: 50px;
}
.color
{
    width: 75px;
      height: 30px;
        border-radius: 15px;
          box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 0px 2px 2px rgba(0,0,0,0.5);
            display:inline-block;
              padding: 10px;
                margin-top: 10px;
                  float: right;
                    border:none;
}
.swatch
{
    width: 30px;
      height: 30px;
        border-radius: 15px;
          box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 0px 2px 2px rgba(0,0,0,0.5);
            display:inline-block;
              margin-left: 10px;
                background-color: cyan;
}


#col
{
  padding: 15px;
  height: 50px;
  float: left;
}

#fileUpload{
    width: 104px;
    height: 30px;
    font-size: 14px;
    padding: 6px;
    margin-top:10px;
    background-color: rgb(213, 213, 213);
    float: left;
    border-radius: 4px;
    text-align: center;
    margin-left: 5px;
    font-weight: bolder;

}
.buttonOnBoard{
    width: 56px;
    height: 30px;
    font-size: 14px;
    padding: 6px;
    margin-top:10px;
    background-color: rgb(213, 213, 213);
    float: left;
    border-radius: 4px;
    text-align: center;
    margin-left: 5px;
    font-weight: bolder;
    cursor:pointer;
}
#save,#erase,#clear
{
    width: 56px;
    height: 30px;
    font-size: 14px;
    padding: 6px;
    margin-top:10px;
    background-color: rgb(213, 213, 213);
    float: left;
    border-radius: 4px;
    text-align: center;
    margin-left: 5px;
    font-weight: bolder;
    cursor:pointer;
}
#eraser{
  color:rgb(158, 55, 10);
}
#save{
  color:rgb(2, 131, 19);
}
#clear{
  color:rgb(170, 34, 34);
}
.buttonOnBoard:hover,#save:hover,#erase:hover,#clear:hover
{
    background-color: white;
}


v_wrap
{
    margin-top:15px
}

#divLoading{
  display : block;
  position : fixed;
  background-image : url('loading.gif');
  opacity : 0.4;
  background-repeat : no-repeat;
  background-position : center;
  left : 0;
  bottom : 0;
  right : 0;
  top : 0;
}

#image_to_canvas{
  position: absolute;
  left: -9999px;
}

#image_box{
  text-align: center;
  color:red;
  opacity: .60;
  position: absolute;
  float:left;
  display:none;
  width: 100px;
	height: 50px;
	margin-top: -50px;
	margin-left: -25px;
	background: red;
  background-size: cover;
  background-repeat: no-repeat;
}



@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@charset "UTF-8";
