<!DOCTYPE html>
<html>
<head>
  <title>WhiteboardCentral</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= stylesheet_link_tag    'boards', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                <% if logged_in? %>
                  <%= link_to 'Logout', logout_path %>
                <% else %>
                  <%= link_to 'Login', new_session_path %>
                <% end %>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div id="toolbar">
    <div id="free">WhiteBoard-Central</div> <div id="colors"></div>
    <div id="rad">
      BrushSize <span id="radval">10</span>
      <div id="decrad" class="radcontrol">-</div>
      <div id="incrad" class="radcontrol">+</div>
    </div>
    <button><div id="save"> Save </div></button>
    <button><div id="clear"> Clear </div></button>
  </div>
  <canvas id="canvas" style="display:block;width:100%;height:95%">
  Browser is incompatiable.
  </canvas>

  </div>
  <div id="footline">
  Use White Marker As Eraser.
</div>


<%= javascript_include_tag 'boards', 'data-turbolinks-track' => true %>
<%= yield %>
</body>
</html>
